html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* ############################# Added #####################################"" */

/* Animation for AccessDenied card for example*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card header and card hearder collapsable */

.card-header:hover {
    background-color: #dee2e6;
}

.card-header .toggle-icon {
    transition: transform 0.3s ease;
}

.card-header.collapsed .toggle-icon {
    transform: rotate(-90deg);
}
.toggle-icon {
    transition: transform 0.3s ease;
}

.rotate-up {
    transform: rotate(180deg);
}
/*--------------------------------*/

